<app-navbar></app-navbar>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Profile: {{userData.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">


    <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
     
      <div class="row g3">
        <div class="col">
          <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" required id="name" [ngClass]="{'is-invalid': formSubmitted && formValues.name.invalid}">
            <div *ngIf="formSubmitted && formValues.name.invalid" class="invalid-feedback">
              <div *ngIf="formValues.name.hasError('required')">
                Name is required.
              </div>
              <div *ngIf="formValues.name.hasError('minLength')">
                Name must be at least 4 characters long.
              </div>
              <div *ngIf="formValues.name.hasError('forbiddenName')">
                Name cannot be Bob.
              </div>
            </div>
            

     
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label>User Name</label>
            <input type="text" class="form-control" formControlName="userName" >
          </div>
        </div>
      </div>
      <div class="row g3">
        <div class="col">
          <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" >
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" >
          </div>
        </div>
      </div>
     
      <div class="row g3">
        
        <div class="col">
          <div class="mb-3">
            <label>User ID</label>
            <input type="text" class="form-control readonly" formControlName="userId" readonly>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <div class="mb-3">
              <label>Status</label>
              <input type="text" class="form-control readonly" formControlName="status" readonly>
              
            </div>
            
            
          </div>
        </div>
  
      </div>
      <div class="row g3">
        
        <div class="col">
          <div class="mb-3">
            <label>Created</label>
            <input type="text" class="form-control readonly" formControlName="created" readonly>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <div class="mb-3">
              <label>Updated</label>
              <input type="text" class="form-control readonly" formControlName="updated" readonly>
              
            </div>
            
            
          </div>
        </div>
  
      </div>
      <div class="row g3">
        
        <div class="col">
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input readonly" type="checkbox" formControlName="isActive" readonly>
              <label class="form-check-label">
                isActive
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="isLoggedIn" readonly>
              <label class="form-check-label">
                isLoggedIn
              </label>
            </div>
           
            
            
          </div>
        </div>
  
      </div>

      <div class="text-center d-grid">
        <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
      </div>
    </form>
  </div>

</ng-template>
<div class="container container-fluid"  style="padding: 10px">
  
  <h1 class="text-center" *ngIf="!tasks$" >
    Loading
    <br/>
    <div class="spinner-border text-center" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    
  

  </h1>


 

  <div *ngIf="userData" class="alert alert-primary" role="alert">
    Welcome, {{userData.name}} 
    <span style="float:right">
      <button class="btn btn-sm btn-primary" (click)="viewProfile(content)" >View Profile</button>
    </span>
  </div>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    @for (name of navs; track name) {
      <li [ngbNavItem]="id">
        <button ngbNavLink>
          Tab {{ id }}
          <span class="btn-close ms-3 fw-light" (click)="close($event, id)"></span>
        </button>
        <ng-template ngbNavContent>
          <p>Tab {{ id }} content</p>
        </ng-template>
      </li>
    }
    <li class="nav-item" role="presentation">
      <button type="button" class="nav-link" (click)="add($event)">...</button>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  <pre>Active: {{ active }}</pre>
 
  <app-table *ngIf="tasks$" [tableData]="tasks$" [tableCols]="tableCols"></app-table>
  <app-table *ngIf="tasksDo$" [tableData]="tasksDo$" [tableCols]="tableCols"></app-table>
  <app-table *ngIf="tasksDoing$" [tableData]="tasksDoing$" [tableCols]="tableCols"></app-table>
  <app-table *ngIf="tasksDone$" [tableData]="tasksDone$" [tableCols]="tableCols"></app-table>

  <app-modal [tableData]="tasks$"></app-modal>

  <div *ngIf="message" class="alert alert-secondary" role="alert">
    Status: {{message}}
  </div>
  
</div>



<app-footer></app-footer>


