<ng-template #content let-modal>
 <div class="modal-header">
   <h4 class="modal-title text-center" id="modal-basic-title">{{title}}</h4>
   <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
 </div>
 <div class="modal-body">
   <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
     <div class="mb-3">
       <label>Name</label>
       <input type="text" class="form-control" id="taskName" placeholder="Enter Task Name" formControlName="name">
     </div>
     <div class="mb-3">
       <label>Description</label>
       <input type="text" class="form-control" id="taskDescription" placeholder="Enter Task Description"
         formControlName="description">
     </div>
     <!-- <div class="mb-3" *ngIf="title === 'Edit Task'">
       <label>Status</label>
       <select class="form-select" formControlName="status">
         <option *ngFor="let item of taskStatus" [value]="item">{{item}}</option>
       </select>

     </div> -->
     <div class="text-center d-grid">
       <button type="submit" class="btn btn-primary rounded-pill ">Submit</button>
     </div>
   </form>
 </div>

</ng-template>

<div class="d-grid gap-2 d-md-flex justify-content-md-center" style="margin-bottom:5%">
 <button class="btn btn-primary rounded-pill " (click)="openModal(content, 'Add Task')">Add Task</button>

</div>
